
modules = ["python-3.12"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "lcms2", "libiconv", "libimagequant", "libjpeg", "libmysqlclient", "libtiff", "libwebp", "libxcrypt", "lsof", "openjpeg", "pgadmin4", "rustc", "tcl", "tk", "zlib"]

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "-w", "4", "config.wsgi:application"]
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Django Server"
author = 40043096
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Django Server"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34919
externalPort = 3000

[agent]
expertMode = true
