modules = ["python-3.12", "postgresql-16"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libmysqlclient", "libtiff", "libwebp", "libxcrypt", "lsof", "openjpeg", "pgadmin4", "rustc", "tcl", "tk", "zlib"]

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "-w", "4", "config.wsgi:application"]
deploymentTarget = "autoscale"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Django Server"
author = 40043096
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:5000"

[[workflows.workflow]]
name = "Django Server"
mode = "parallel"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Django Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Winner Notifications"

[[workflows.workflow]]
name = "Winner Notifications"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src && python manage.py notify_event_winners"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35331
externalPort = 3000

[[ports]]
localPort = 44747
externalPort = 3001

[agent]
expertMode = true

[userenv]

[userenv.shared]
HOME_ASSISTANT_URL = "https://tunnel.casaaustin.pe"
