DJANGO_SECRET_KEY=XXXXXXXXXXX
DJANGO_DEBUG=True
DJANGO_ADMIN_PATH=XXXXXXXXXXX
DJANGO_CSRF_TRUSTED_ORIGINS=par1,par2,par_n
DJANGO_CORS_ALLOWED_ORIGINS=par1,par2,par_n
MYSQL_DATABASE=XXXXXXXXXXX
MYSQL_PASSWORD=XXXXXXXXXXX
MYSQL_HOST=XXXXXXXXXXX
MYSQL_PORT=XXXXXXXXXXX
MYSQL_ROOT_PASSWORD=XXXXXXXXXXX
AIRBNB_API_URL_BASE=XXXXXXXXXXX
WHATSAPP_OTP_TEMPLATE_NAME=
WHATSAPP_PAYMENT_APPROVED_TEMPLATE=pago_aprobado_ca
# ChatBot Builder Custom Fields
ID_CUF_LEVELS_CBB=191894
ID_CUF_GLOBAL_DSCT_CBB=XXXXXX