DJANGO_SECRET_KEY=XXXXXXXXXXX
DJANGO_DEBUG=True
DJANGO_ADMIN_PATH=XXXXXXXXXXX
DATABASES_DEFAULT_NAME=XXXXXXXXXXX
DATABASES_DEFAULT_USER=XXXXXXXXXXX
DATABASES_DEFAULT_PASSWORD=XXXXXXXXXXX
DATABASES_DEFAULT_HOST=XXXXXXXXXXX
DATABASES_DEFAULT_PORT=XXXXXXXXXXX